<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="anim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    <div id="preload">
        <div class="load">
        <div>
            <h1>NIT</h1>
        </div>
        <div class="full">
          <p>National Institute<br>
          of Technology, Bhopal</p>
        </div>
        </div>
    </div>
    <section id="header" >
        <div class="navbar">
            <div class="school">
                <div class="row1">
                    <h2>NIT</h2>
                </div>
                <div class="row2">
                  <p>National Institute<br>
                  of Technology, Bhopal</p>
                </div>
                </div>
               <div class="row3">
                <a class="active" href="">Home</a>
                <a href="">Login/SignUp</a>
            </div>
            </div>
        
    </section>
    
    <div class="card">

        <div class="container">
          <button class="btn">Upload Resume</button>
        </div>
      </div>
    
      <script>
        
        setTimeout(function(){
        var load_screen = document.getElementById("preload");
        document.body.removeChild(load_screen);
        },4000);

      </script>
</body>
</html>